<h3>{{post.title}}</h3>
{{post.date}}
<br />
{{post.body}}
<br />
<div>
    {%for hashtag in hashtags.all %}
    #{{ hashtag }}
    {% endfor %}
</div>

<hr>
<a class="add_comment" href="{%url 'add_comment' post.id %}">댓글 달기</a>
<br>
{% for comment in post.comments.all %}
    <div class="comment">
        <strong class="username">{{ comment.username }}</strong>
        <div class ="date">{{ comment.created_at }}</div>
        <p>{{ comment.comment_text | linebreaks }}</p>
    </div>
{% empty %}
    <p> 아직 댓글이 없어요</p>
{% endfor %}
<a href="{% url 'home' post.id %}">홈으로 돌아가기</a>
<a href="{% url 'delete' post.id %}">삭제하기</a>